<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
  </head>
  <body>
    <h1>Enter an Email to our Database!!!!</h1>
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
    <form class="" action="/add_email" method="post">
      {% csrf_token %}<br>
      Email:<input type="text" name="email" value="">
      <input type="submit" name="submit" value="Add">
    </form>
  </body>
</html>
